---
title: "John Edward Labor's Portfolio"
---

<!doctype html>
{% include copyright.html %}
<html lang="en" class="no-js">
<head>
    {% include head.html %}
    {% include head/custom.html %}
</head>

<body class="portfolio">
<!--TODO: Make scroll-to-top reusable-->
<button onclick="topFunction()" id="scroll-to-top" title="Go to top"><i class="fa-solid fa-angles-up"></i></button>
<div class="portfolio__content">
    {% include_cached masthead.html %}
    <section id="about-me" class="mt-2">
        <div class="portfolio__aboutMe-container">
            <div class="portfolio__dailyDev">
            </div>
            <div class="portfolio__aboutMe-text">
                <h1 class="text-center">About Me</h1>
                <p class="portfolio__bio">
                    I’m a dedicated full-stack web developer with a passion for creating elegant solutions from the ground up. Since 2013, I’ve been building websites and apps, driven by a love for my work that fuels my continuous learning and growth. I’m always eager to refine my skills and believe that constructive feedback is essential for personal and professional development.
                </p>
            </div>
        </div>
    </section>
    <section id="my-projects">
        <h1 class="text-center mb-2">Projects</h1>
        <div class="projects">
            {% assign projects = site.projects | where: "hidden", "false" | reverse  %}
            {% for project in projects %}
            <div class="project">
                <div class="project__container flex">
                    <div class="project__image" style="background-image: url('{{project.image}}')"></div>
                    <div class="project__content">
                        <div class="project__name">{{project.name}}</div>
                        <p class="project__description">{{ project.description }}</p>
                        <div class="technologies">
                            {% for technology in project.technologies %}
                            <img src="assets/svg/{{technology}}.svg" alt="{{technology}}" title="{{technology}}"/>
                            {% endfor %}
                        </div>
                        <div>
                            {% if project.live %}
                            <a class="project__button project__button--live"
                               href="{{project.live}}"
                               target="_blank"
                            >
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                Live Demo
                            </a>
                            {% endif %}
                            {% if project.repository %}
                            <a class="project__button project__button--github"
                               href="{{project.repository}}"
                               target="_blank"
                            >
                                View Source
                                <i class="fa-brands fa-github"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="contact-me" class="mt-3">
        <h1 class="text-center ">Contact Me</h1>
        <div class="contact-links py-2">
            <a href="" class="contact-links__link">
                <img src="assets/svg/email.svg" alt="" class="contact-links__icon">
                jertrabaho@gmail.com
            </a>
            <a href="" class="contact-links__link">
                <img src="assets/svg/linkedin.svg" alt="" class="contact-links__icon">
                in/jerlabor
            </a>
            <a href="" class="contact-links__link">
                <img src="assets/svg/github.svg" alt="" class="contact-links__icon">
                git/jerlabor
            </a>
        </div>
    </section>
</div>

<div class="portfolio__footer text-center mb-1">
    Made by John Edward Labor © 2024
</div>

{% include scripts.html %}
</body>
</html>