---
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
<head>
    {% include head.html %}
    {% include head/custom.html %}
</head>

<body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
{% include_cached skip-links.html %}
{% include_cached masthead.html %}

<div class="portfolio__content mt-2">
    <section>
        <div class="flex">
            <div class="portfolio__dailyDev">
            </div>
            <div class="portfolio__aboutMe-container">
                <h1>About Me</h1>
                <p class="portfolio__bio">
                    I'm a full-stack web developer with over 6 years of experience in building dynamic, scalable, and high-performance web applications. Proficient in both front-end and back-end development, he has strong expertise in PHP, Laravel, JavaScript, Vue.js, MySQL, and RESTful APIs. Dedicated to writing efficient, clean, and maintainable code, he excels in developing custom systems, integrating third-party APIs, and optimizing database performance. As a team player with a commitment to continuous learning, he thrives in Agile environments and consistently delivers high-quality solutions.
                </p>
            </div>
        </div>
    </section>
    <section>
        <h1 class="text-center mb-4">Projects</h1>
        <div class="projects">
            {% for project in site.projects %}
            <div class="project">
                <div class="project__container flex">
                    <div class="project__image" style="background-image: url('{{project.image}}')"></div>
                    <div class="project__content">
                        <div class="project__name">{{project.name}}</div>
                        <p class="project__description">{{ project.description }}</p>
                        <div class="technologies">
                            {% for technology in project.technologies %}
                            <img src="assets/svg/{{technology}}.svg" alt="{{technology}}"/>
                            {% endfor %}
                        </div>
                        <div>
                            <a class="project__button project__button--live"
                               href="{{project.live}}"
                               target="_blank"
                            >
                                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                Live Demo
                            </a>
                            <a class="project__button project__button--github"
                               href="{{project.repository}}"
                               target="_blank"
                            >
                                View Source
                                <i class="fa-brands fa-github"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <section>
        <h1 class="text-center">Contact Me</h1>
        <div class="contact-links py-5">
            <a href="" class="contact-links__link">
                <img src="assets/svg/email.svg" alt="" class="contact-links__icon">
                jertrabaho@gmail.com
            </a>
            <a href="" class="contact-links__link">
                <img src="assets/svg/linkedin.svg" alt="" class="contact-links__icon">
                in/jerlabor
            </a>
            <a href="" class="contact-links__link">
                <img src="assets/svg/github.svg" alt="" class="contact-links__icon">
                git/jerlabor
            </a>
        </div>
    </section>
</div>


<div class="portfolio__footer text-center mb-2">
    Made by John Edward Labor © 2024
</div>


{% include scripts.html %}
</body>
</html>