.portfolio {
  &__aboutMe-container {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
  }

  &__aboutMe-text {
    width:70%;
    flex-grow: 1;
    flex-shrink: 2;
    padding: 1rem;
  }

  &__content {
    width: 90%;
    margin: 0 auto;

    & > section:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__dailyDev {
    background-image: url('https://api.daily.dev/devcards/v2/71grvNBMDAEBY7v3PeZx2.png?type=default&r=l4o');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 400px;
    width: 30%;
    min-width: 200px;
    flex-grow: 1;
    margin-bottom: 1rem;
  }

  &__portfolio__aboutMe-container {
    width: 60%
  }

  &__bio {
    font-size: .85rem;
    text-align: justify;
  }

  &__footer {
    font-size: .7rem;
  }

  &__navigation {
    display: flex;
    list-style-type: none;
    justify-content: end;
  }

  &__navigation-item {
    text-decoration: none;
    margin-right: 2rem;
  }

  &__navigation-link {

  }
}

.projects {
  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.project {
  &__container {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    flex-wrap: wrap;
  }

  &__image {
    flex-basis: 35%;
    min-height: 300px;
    min-width: 400px;
    height: auto;
    background-size: cover;
    flex-grow: 1;
  }

  &__content {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    flex-grow: 1;

    & > :not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__name {
    font-weight: bold;
  }

  &__description {
    font-size: .8rem;
    margin: 0;
  }

  &__button {
    padding: .4rem;
    display: inline-block;
    border-radius: .2rem;
    font-size: .7rem;
    text-decoration: none;

    &:active {
      color: inherit;
    }

    &--live {
      background-color: #161a1d;
      color: white;
      margin-right: .5rem;

      &:hover, &:visited {
        color: white;
      }
    }

    &--github {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 7px 0px;
      color:inherit;

      &:hover, &:visited {
        color: inherit;
      }
    }

    &:hover {
      transform: translateY(-.2rem);
    }
  }

}

.technologies {
  display: flex;
  & img{
    width: 1.5rem;
    height: auto;
  }

  & img:not(:last-child){
    margin-right: .3rem;
  }
}

.contact-links {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  &__link {
    text-align: center;
    font-size: .8rem;
    text-decoration: none;
    min-width: 200px;
  }

  &__icon {
    width: 1rem;
  }
}