---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "base/utilities";
@import "pages/portfolio";

$sans-serif: "JetBrains Mono", sans-serif;
$global-font-family : $sans-serif;
$header-font-family : $sans-serif;
$background-color: #f5f3f4;
$text-color: #0b090a;
$primary-color: #0b090a;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials