---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "base/colors";
@import "base/utilities";
@import "pages/portfolio";

$sans-serif: "Montserrat";
$global-font-family : $sans-serif;
$header-font-family : $sans-serif;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials